/* styles/temples.css */

/* CSS Variables for color scheme */
:root {
    --primary-color: #FF6600;
    /* Orange */
    --secondary-color: #FFFFFF;
    /* White */
    --accent-color: #333333;
    /* Dark Gray */
    --background-color: #F9F9F9;
    /* Light Gray */
    --font-family: 'Roboto', sans-serif;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--accent-color);
    font-family: var(--font-family);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav li {
    margin-right: 20px;
    text-align: center;

}

li:has(input[type="radio"]:checked),
nav li:hover {
    margin-right: 20px;
    background-color: var(--secondary-color);
    text-decoration: underline;
    color: var(--primary-color);
    ;
}

input[type="radio"] {
    display: none;
}

li:has(input[type="radio"]:checked) label,
nav li:hover label {
    text-decoration: underline;
    color: var(--primary-color);
}


.open li {
    display: block;
}

nav li {
    display: none;
}

nav label {
    display: block;
    padding: 10px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav label:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 0px;
    top: 0px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.open a {
    display: block;
}

main h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    grid-column: 1/-1;
}

/* Gallery Grid */
main {
    padding: 20px;
    display: grid;
    height: 100%;
    grid-gap: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    height: 100%;
    overflow-y: scroll;

}

/* Figure Styles */
figure {
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figure figcaption {
    text-align: center;
    margin-top: 10px;
    color: var(--accent-color);
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px 0;
}

.last-modified {
    font-size: 0.8em;
}

.temple-card {
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e8e8e8;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.temple-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.temple-card h2 {
    font-size: 24px;
    color: #3f3f3f;
    margin-bottom: 10px;
}

.temple-card p {
    margin: 5px 0;
    color: #5f5f5f;
    font-size: 14px;
}

.temple-card p .label {
    color: purple;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
    /* Drop shadow added here */
}