:root {
    --accent-color: #4a154b;
    --star-rating-width: 160px;
    --color-footer-text: white;
    --font-body: "Lora", serif;
    --font-title: "Roboto", sans-serif;
    --font-size-title: 1.5rem;
    --spacing-footer-padding: 1rem;

}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: var(--font-body);
    font-style: normal;
    place-items: center;
}

.form-container {
    margin-top: 20px;
    background-color: #e0dfe5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label:has(+ *[required])::after,
.group-required {
    content: " *";
    color: red;
    margin-left: 0.25rem;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: var(--accent-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label:first-child,
.group-label {
    font-weight: bold;
}

label,
.group-label {
    font-family: var(--font-title);
    font-size: 1.2rem;

    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 20px;
    cursor: pointer;
}


.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    width: 100%;
}

/* Custom Checkbox */
.checkbox-group label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
}

/* Checkbox checked state */
.checkbox-group input[type="checkbox"]:checked+label::before {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    content: '✔';
    color: white;
    font-size: 18px;
    position: absolute;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: var(--accent-color);
}


/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

/* hide the inputs */
.star-rating input {
    display: none;
}

/* set properties of all labels */
.star-rating>label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}

/* give label a hover state */
.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
    content: '\2605';
}

footer {
    height: 4rem;
    text-align: center;
    font-family: var(--font-title);
    background-color: var(--accent-color);
    color: var(--color-footer-text);
    padding: var(--spacing-footer-padding) 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer .last-modified {
    color: var(--color-footer-modified);
}